# EditorConfig is awesome: http://EditorConfig.org

# *not* top-most EditorConfig file
root = false

# Agog Labs source files
[*]
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = crlf
charset = latin1
trim_trailing_whitespace = false
insert_final_newline = false
