*.suo
*.sdf
*.opensdf
*.ipdb
*.iobj
*.ilk
*.exp
*.pdb
*.a.recipe
*.DS_Store
CMakeLists.txt
enable-mad-check.txt
mad-define.txt
force-lib-build.txt
.hg/**
.hgignore
/Binaries/Win32/**
/Binaries/Mac/**
/Binaries/IOS/**
/Binaries/TVOS/**
/Binaries/Android/**
/Binaries/Win64/**
!/Binaries/Win64/SkookumScript*.dll
!/Binaries/Win64/AgogCore*.dll
/Intermediate/**
/Agog/**
/Saved/**
/Scripts/Engine-Generated/**
/Source/AgogCore/*2013*.*
/Source/AgogCore/*2015*.*
/Source/AgogCore/Lib/**/*.dll
/Source/AgogCore/Lib/**/*Win32*.lib
/Source/AgogCore/Lib/**/VS2013/*
/Source/SkookumScript/*2013*.*
/Source/SkookumScript/*2015*.*
/Source/SkookumScript/Lib/**/*.dll
/Source/SkookumScript/Lib/**/*Win32*.lib
/Source/SkookumScript/Lib/**/VS2013/*
/Source/SkookumLibs*.*
/SkookumIDE/*.*
!/SkookumIDE/Skookum.ini
/SkookumIDE/Source/**
/SkookumIDE/Scripts/workspace?.sk
/SkookumIDE/Scripts/workbench*.sk
/SkookumIDE/Engine/Saved/**
/SkookumIDE/Engine/Programs/*/Intermediate/**
/SkookumIDE/Engine/Programs/*/Saved/**
/hooks/**
